streamlit==1.31.1
pymupdf==1.23.3
pdfplumber==0.10.3
sumy==0.9.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
farm-haystack==1.19.1
transformers==4.30.2
scikit-learn==1.3.0
nltk==3.8.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
